@font-face {
    font-family: manterah;
    src: url(fonts/Manterah.ttf)

}
body {
    background-image: url(images/background.png);
    background-size: 1280px 720px;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: scroll;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 98%;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(226, 119, 69);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(7, 49, 35);
    border-width: 3px;
    z-index:1;
}

li {
float: right;
}

li a {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;

}

li a:hover {
    background-color: rgb(7, 49, 35);
}


.hello {
    font-family: manterah;
    color: white;
    margin: 100px 10px 10px 10px;
    text-align: center;
    font-size: 70px;
}

#Daverock {
    opacity: 60%;
    border-radius: 100%;
    display: block;
    width: 250px;
    height: 250px;
    margin: 20px auto 20px auto;

    
}

.what {
    text-align: center;
    font-family: cursive;
    color: white;
    margin: 10px 10px 175px 10px;
}

.aboutme {
    text-align: center;
    font-family: cursive;
    color: white;
}

.aboutmep {
    text-align: center;
    font-family: cursive;
    color: white;
    padding: 0px;
    width: 80%;
    margin: 0% auto;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

}

.email {
    max-width: auto;
    height: 100px;
    margin: 30px;
}

.github {
    max-width: auto;
    height: 100px;
    margin: 0px;
    padding: 30px;
}

.youtube {
    max-width: auto;
    height: 100px;
    margin: 30px;
}
